<h1>Welcome to Firebase</h1>

<p>Course list Data from Firebase Real time Database</p>
<div class="container">
  <table class="table table-striped table-bordered">
      <tbody>
          <tr *ngFor="let course of coursesList">
              <td>{{course}}</td>
          </tr>
      </tbody>
  </table>
</div>

<p>Ticket Data from Firebase Firestore Database</p>
<div class="container">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr *ngFor="let id of tickets">
                <td>{{id | json}}</td>
            </tr>
        </tbody>
    </table>
  </div>


  <p>Users Data from Firebase Firestore Database</p>
<div class="container">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr *ngFor="let id of data">
                <td>{{id | json}}</td>
            </tr>
            <br> <br>
        </tbody>
    </table>
  </div>

